<section>
    <ul>
        <li>${boxerData.name}</li>
        <li>${boxerData.bio}</li>
        <li>${boxerData.currentWeight}</li>
        <li>${boxerData.video}</li>
        <li>${boxerData.trainer}</li>
        <li>${boxerData.promoter}</li>
        <li>${boxerData.country}</li>
        <li>${boxerData.fightingStyle}</li>
        <li>${boxerData.network}</li>
        <li>${boxerData.weightClass}</li>
        <li>${boxerData.beltNames}</li>
        <li><img src='${boxerData.picture}' /></li>
    </ul>
</section>